{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Program{%endblock%}

{% block main_area %}
    
    <div class="container">
        <header class="py-5 bg-dark border-bottom mb-4">
            <div class="container">
                <div class="text-center text-white my-5">
                    <h1 class="fw-bolder">the sum of two numbers</h1>
                </div>
            </div>
        </header>
    </br>
    </br>
    </br>
        <div>
        <!-- <form method="get" action="{% url 'result' %}"> -->  <!-- 이렇게 해도 됨! -->
        <form method="get" action="result">
            {{ form | crispy }}
            <div class="form-group row">
                <label  class="col-sm-4 col-form-label"> a = </label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" placeholder="첫 번째 숫자를 입력하세요." name='a'></br>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-4 col-form-label"> b = </label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" placeholder="두 번째 숫자를 입력하세요." name='b'></br>
                </div>
            </div>
            
        </br>
        </br>
            <center><button type='submit' class='btn btn-primary float-right'>Submit</button></center>
        </form>
        </div>
    </div> 
{% endblock %}